 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(76,175,80,0.4), rgba(76,175,80,0.4)), url('images/65.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  text-transform: none;
  margin: 101px 64px 0;
}

.u-section-1 .u-text-2 {
  margin: 13px 68px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: url("images/Background-green-mid.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 467px;
}

.u-section-2 .u-text-1 {
  width: 880px;
  text-shadow: 0px 0px 8px rgba(255,255,255,1);
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 580px;
  text-shadow: 0px 0px 8px rgba(255,255,255,1);
  margin: 5px 280px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 30px 394px 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 30px 430px 0;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 222px;
  min-width: 94px;
  margin: 30px auto 60px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 180px;
    margin-right: 180px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 294px;
    margin-right: 294px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 330px;
    margin-right: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 184px;
    margin-right: 184px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 220px;
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 94px;
    margin-right: 94px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 130px;
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.5rem;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    margin-bottom: 34px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 538px;
}

.u-section-3 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(255,255,255,1);
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 20px auto 19px;
}

.u-section-3 .u-btn-1 {
  text-transform: none;
  font-size: 1.25rem;
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1rem;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(37,85,39,0.25), rgba(37,85,39,0.25)), url('images/260fdc37656b24db17f6ebcf39b5e6b18a8c7f6bf7fd28565b9bc10e7c1db5e3a514b376f9d2bdb0feb7e2bbf9881c0f4dce026360bd5eac1e561d_1280.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 350px;
}

.u-section-4 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 40px 59px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 81px;
    margin-bottom: 60px;
  }
}