 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(37,85,39,0.25), rgba(37,85,39,0.25)), url('images/S1B1-HeroSection.webp');
  background-position: 50% 36.98%;
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 119px 50px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 50px 0 344px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px calc(((100% - 1140px) / 2)) 60px auto;
  padding: 18px 63px 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 665px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    align-self: flex-end;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 5.07% 50%;
    min-height: 509px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.12% 50%;
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 490px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
  --radius: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 404px;
  }

  .u-section-2 .u-image-1 {
    height: 173px;
  }

  .u-section-2 .u-image-2 {
    height: 173px;
  }

  .u-section-2 .u-image-3 {
    height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 928px;
  }

  .u-section-2 .u-image-1 {
    height: 205px;
  }

  .u-section-2 .u-image-2 {
    height: 205px;
  }

  .u-section-2 .u-image-3 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 355px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 355px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 355px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 218px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    height: 218px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    height: 218px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 694px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-position: 7.35% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  object-position: 7.35% 50%;
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-7 {
  background-position: 98.97% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  object-position: 98.97% 50%;
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-15 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    inset: auto;
    height: 301px;
  }

  .u-section-3 .u-image-2 {
    inset: auto;
    height: 301px;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
    height: 301px;
  }

  .u-section-3 .u-image-4 {
    inset: auto;
    height: 301px;
  }

  .u-section-3 .u-image-5 {
    inset: auto;
    height: 301px;
  }

  .u-section-3 .u-image-6 {
    inset: auto;
    height: 301px;
  }

  .u-section-3 .u-image-7 {
    inset: auto;
    height: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 485px;
  }

  .u-section-3 .u-image-2 {
    height: 485px;
  }

  .u-section-3 .u-image-3 {
    height: 485px;
  }

  .u-section-3 .u-image-4 {
    height: 485px;
  }

  .u-section-3 .u-image-5 {
    height: 485px;
  }

  .u-section-3 .u-image-6 {
    height: 485px;
  }

  .u-section-3 .u-image-7 {
    height: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 382px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 382px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 382px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 382px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 382px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 382px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-3 .u-image-1 {
    height: 235px;
  }

  .u-section-3 .u-image-2 {
    height: 235px;
  }

  .u-section-3 .u-image-3 {
    height: 235px;
  }

  .u-section-3 .u-image-4 {
    height: 235px;
  }

  .u-section-3 .u-image-5 {
    height: 235px;
  }

  .u-section-3 .u-image-6 {
    height: 235px;
  }

  .u-section-3 .u-image-7 {
    height: 235px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 501px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-video-1 {
  min-height: 440px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 440px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 45px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-4 .u-video-1 {
    min-height: 372px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-4 .u-video-1 {
    min-height: 285px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-4 .u-video-1 {
    min-height: 428px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-4 .u-video-1 {
    min-height: 269px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 792px;
}

.u-section-5 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 307px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 307px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 307px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 307px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin: 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -78px;
    margin-right: 305px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -125px;
    margin-right: 234px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
    order: 2;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
    order: 1;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 125px;
    margin-right: 176px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 3;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 198px;
    margin-right: 111px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 576px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-blog-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  height: auto;
  grid-gap: 22px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 433px;
  grid-gap: 22px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-6 .u-image-1 {
  height: 228px;
  width: 284px;
  margin: 0 auto 0 -1px;
}

.u-section-6 .u-group-1 {
  width: 259px;
  min-height: 204px;
  background-size: auto;
  height: auto;
  margin: -49px 0 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 15px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 6px 0 0;
}

.u-section-6 .u-btn-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-6 .u-image-2 {
  height: 228px;
  width: 284px;
  margin: 0 auto 0 -1px;
}

.u-section-6 .u-group-2 {
  width: 259px;
  min-height: 204px;
  background-size: auto;
  height: auto;
  margin: -49px 0 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 15px;
}

.u-section-6 .u-text-4 {
  margin: 0;
}

.u-section-6 .u-text-5 {
  margin: 6px 0 0;
}

.u-section-6 .u-btn-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-6 .u-image-3 {
  height: 228px;
  width: 284px;
  margin: 0 auto 0 -1px;
}

.u-section-6 .u-group-3 {
  width: 259px;
  min-height: 204px;
  height: auto;
  margin: -49px 0 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 15px;
}

.u-section-6 .u-text-6 {
  margin: 0;
}

.u-section-6 .u-text-7 {
  margin: 6px 0 0;
}

.u-section-6 .u-btn-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    height: 199px;
    width: 220px;
  }

  .u-section-6 .u-group-1 {
    width: 219px;
    margin-top: -20px;
    height: auto;
  }

  .u-section-6 .u-image-2 {
    height: 199px;
    width: 220px;
  }

  .u-section-6 .u-group-2 {
    width: 219px;
    margin-top: -20px;
    height: auto;
  }

  .u-section-6 .u-image-3 {
    height: 199px;
    width: 220px;
  }

  .u-section-6 .u-group-3 {
    width: 219px;
    margin-top: -20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
  }

  .u-section-6 .u-image-1 {
    height: 213px;
    width: 273px;
  }

  .u-section-6 .u-group-1 {
    width: 272px;
    margin-top: -34px;
  }

  .u-section-6 .u-image-2 {
    height: 213px;
    width: 273px;
  }

  .u-section-6 .u-group-2 {
    width: 272px;
    margin-top: -34px;
  }

  .u-section-6 .u-image-3 {
    height: 213px;
    width: 273px;
  }

  .u-section-6 .u-group-3 {
    width: 272px;
    margin-top: -34px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 277px;
    width: 451px;
  }

  .u-section-6 .u-group-1 {
    width: 382px;
    margin-top: -98px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    height: 277px;
    width: 451px;
  }

  .u-section-6 .u-group-2 {
    width: 382px;
    margin-top: -98px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    height: 277px;
    width: 451px;
  }

  .u-section-6 .u-group-3 {
    width: 382px;
    margin-top: -98px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 219px;
    width: 284px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 282px;
    min-height: 200px;
    margin-top: -36px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 219px;
    width: 284px;
    margin-left: 0;
  }

  .u-section-6 .u-group-2 {
    width: 282px;
    min-height: 200px;
    margin-top: -36px;
  }

  .u-section-6 .u-image-3 {
    height: 219px;
    width: 284px;
    margin-left: 0;
  }

  .u-section-6 .u-group-3 {
    width: 282px;
    min-height: 200px;
    margin-top: -36px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/modern-indian-man-goes-business-meeting-5.jpg');
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 698px;
}

.u-section-7 .u-group-1 {
  width: 590px;
  min-height: 460px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  --top-left-radius: 20px;
  --bottom-right-radius: 20px;
  margin: 60px 0 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 1px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: none;
  background-image: none;
  --radius: 40px;
  margin: 1px auto 0 0;
  padding: 13px 47px 14px 45px;
}

.u-section-7 .u-icon-1 {
  vertical-align: -1px;
  margin-left: 7px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }
}