 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 194px -154px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("../images/DALLE2024-05-1819.31.47-Createahigh-qualityimageofastockmarkettradingscreeninawideaspectratio.Thescreenshoulddisplayvariouscolorfulnumbersandstatistics.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 300px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: 60px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 912px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-3 .u-group-1 {
  min-height: 176px;
  height: auto;
  width: 462px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  margin: 22px 185px 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 26px;
}

.u-section-3 .u-group-2 {
  min-height: 176px;
  background-size: auto;
  height: auto;
  width: 462px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  margin: 22px 185px 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 26px;
}

.u-section-3 .u-group-3 {
  min-height: 176px;
  background-size: auto;
  height: auto;
  width: 462px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  margin: 22px 185px 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 26px;
}

.u-section-3 .u-group-4 {
  min-height: 176px;
  background-size: auto;
  height: auto;
  width: 462px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  margin: 22px 185px 0;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 26px;
}

.u-section-3 .u-group-5 {
  min-height: 176px;
  background-size: auto;
  height: auto;
  width: 462px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  margin: 22px 185px 0;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 30px auto 60px;
  padding: 7px 390px 8px 388px;
}

.u-section-3 .u-icon-6 {
  font-size: 0.7778em;
  margin-left: 0;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 813px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 125px;
    margin-right: 125px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 125px;
    margin-right: 125px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 125px;
    margin-right: 125px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 125px;
    margin-right: 125px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 125px;
    margin-right: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 10px 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 10px 0;
  }

  .u-section-3 .u-group-3 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 10px 0;
  }

  .u-section-3 .u-group-4 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-container-layout-9 {
    padding: 10px 0;
  }

  .u-section-3 .u-group-5 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 66px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-1 {
    min-height: 132px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    min-height: 132px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-3 {
    min-height: 132px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-4 {
    min-height: 132px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 20px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-5 {
    min-height: 132px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 20px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2632px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    min-height: 204px;
    width: 316px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 204px;
    width: 316px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 204px;
    width: 316px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 204px;
    width: 316px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-5 {
    min-height: 204px;
    width: 316px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-6 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    padding-right: 58px;
    padding-bottom: 7px;
    padding-left: 57px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before,
.u-section-3 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-6,
.u-section-3 .u-btn-6:before,
.u-section-3 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-6.u-btn-6.u-btn-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-6 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-6.u-btn-6.u-btn-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-6 {
  border-color: transparent !important;
} .u-section-4 {
  background-image: url("../images/Logo-merge-medium.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0 170px;
}

.u-section-5 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -53px auto 0 45px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  width: 800px;
  margin: 3px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 800px;
  margin: 30px 170px 40px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-3 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-4 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-text-6 {
  line-height: 1.8;
  margin: 24px 0 0;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-5 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-6 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-10 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-7 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-12 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-8 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-6 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-13 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-14 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-9 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-7 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-15 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-16 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-5 .u-icon-10 {
  height: 24px;
  width: 24px;
}

.u-section-5 .u-accordion-pane-8 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-17 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-18 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-accordion-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-5 .u-icon-3 {
    padding: 2px;
  }

  .u-section-5 .u-icon-4 {
    padding: 2px;
  }

  .u-section-5 .u-icon-5 {
    padding: 2px;
  }

  .u-section-5 .u-icon-6 {
    padding: 2px;
  }

  .u-section-5 .u-icon-7 {
    padding: 2px;
  }

  .u-section-5 .u-icon-8 {
    padding: 2px;
  }

  .u-section-5 .u-icon-9 {
    padding: 2px;
  }

  .u-section-5 .u-icon-10 {
    padding: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-accordion-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 107px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: url("../images/Logo-grey-medium.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 60px auto 0;
}

.u-section-7 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -53px auto 0 45px;
}

.u-section-7 .u-text-2 {
  width: 800px;
  margin: 3px auto 0;
}

.u-section-7 .u-accordion-1 {
  width: 800px;
  margin: 30px 170px 39px;
}

.u-section-7 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-1 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.u-section-7 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-7 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-2 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-7 .u-text-5 {
  margin: 0;
}

.u-section-7 .u-text-6 {
  line-height: 1.8;
  margin: 24px 0 0;
}

.u-section-7 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-3 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-7 {
  margin: 0;
}

.u-section-7 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-7 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-4 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-4 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-9 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-10 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-5 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-5 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-11 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-12 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-6 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-6 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-text-13 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-14 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-7 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-7 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-text-15 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-16 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-7 .u-icon-8 {
  height: 24px;
  width: 24px;
}

.u-section-7 .u-accordion-pane-8 {
  min-height: 773px;
  height: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-text-17 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-18 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 229px;
    margin-right: 229px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -52px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 2px;
  }

  .u-section-7 .u-accordion-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-7 .u-icon-1 {
    padding: 2px;
  }

  .u-section-7 .u-icon-2 {
    padding: 2px;
  }

  .u-section-7 .u-icon-3 {
    padding: 2px;
  }

  .u-section-7 .u-icon-4 {
    padding: 2px;
  }

  .u-section-7 .u-icon-5 {
    padding: 2px;
  }

  .u-section-7 .u-icon-6 {
    padding: 2px;
  }

  .u-section-7 .u-icon-7 {
    padding: 2px;
  }

  .u-section-7 .u-icon-8 {
    padding: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-accordion-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 172px;
    margin-right: 172px;
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -126px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-top: 76px;
  }

  .u-section-7 .u-accordion-1 {
    width: 540px;
    margin-bottom: 39px;
  }

  .u-section-7 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 108px;
    margin-right: 108px;
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 79px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-7 .u-accordion-1 {
    width: 340px;
    margin-bottom: -64px;
  }
} .u-section-8 {
  background-image: url("../images/Logo-grey-medium.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 862px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 60px auto 0;
}

.u-section-9 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -106px auto 0 45px;
}

.u-section-9 .u-text-2 {
  width: 800px;
  margin: 56px auto 0;
}

.u-section-9 .u-accordion-1 {
  width: 800px;
  margin: 30px 170px 40px;
}

.u-section-9 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-9 .u-icon-1 {
  height: 24px;
  width: 24px;
}

.u-section-9 .u-accordion-pane-1 {
  min-height: 1030px;
  height: auto;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.u-section-9 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-9 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-9 .u-icon-2 {
  height: 24px;
  width: 24px;
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 1030px;
  height: auto;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-9 .u-text-5 {
  margin: 0;
}

.u-section-9 .u-text-6 {
  line-height: 1.8;
  margin: 24px 0 auto;
}

.u-section-9 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-9 .u-icon-3 {
  height: 24px;
  width: 24px;
}

.u-section-9 .u-accordion-pane-3 {
  min-height: 1030px;
  height: auto;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-7 {
  margin: 0;
}

.u-section-9 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-9 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-9 .u-icon-4 {
  height: 24px;
  width: 24px;
}

.u-section-9 .u-accordion-pane-4 {
  min-height: 1030px;
  height: auto;
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-9 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-text-10 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-9 .u-icon-5 {
  height: 24px;
  width: 24px;
}

.u-section-9 .u-accordion-pane-5 {
  min-height: 1030px;
  height: auto;
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-text-11 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-text-12 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 229px;
    margin-right: 229px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -105px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 55px;
  }

  .u-section-9 .u-accordion-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-9 .u-icon-1 {
    padding: 2px;
  }

  .u-section-9 .u-icon-2 {
    padding: 2px;
  }

  .u-section-9 .u-icon-3 {
    padding: 2px;
  }

  .u-section-9 .u-icon-4 {
    padding: 2px;
  }

  .u-section-9 .u-icon-5 {
    padding: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -76px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
    margin-top: 26px;
  }

  .u-section-9 .u-accordion-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 172px;
    margin-right: 172px;
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -137px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-top: 87px;
  }

  .u-section-9 .u-accordion-1 {
    width: 540px;
    margin-bottom: 40px;
  }

  .u-section-9 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-9 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-left: 108px;
    margin-right: 108px;
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 42px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
    margin-top: -92px;
  }

  .u-section-9 .u-accordion-1 {
    width: 340px;
    margin-bottom: -28px;
  }
} .u-section-10 {
  background-image: url("../images/Logo-grey-medium.png");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 60px auto 0;
}

.u-section-11 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -53px auto 0 45px;
}

.u-section-11 .u-text-2 {
  width: 800px;
  margin: 3px auto 0;
}

.u-section-11 .u-accordion-1 {
  width: 800px;
  margin: 27px auto -1087px;
}

.u-section-11 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-1 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-1 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-11 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.u-section-11 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-11 .u-accordion-item-2 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-2 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-2 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 27px 30px 30px;
}

.u-section-11 .u-text-5 {
  margin: 0;
}

.u-section-11 .u-text-6 {
  line-height: 1.8;
  margin: 30px 0 0;
}

.u-section-11 .u-accordion-item-3 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-3 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-3 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-text-7 {
  margin: 0;
}

.u-section-11 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-accordion-item-4 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-4 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-4 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-text-9 {
  font-weight: 400;
  margin: 0;
}

.u-section-11 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-11 .u-accordion-item-5 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-5 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-5 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px;
}

.u-section-11 .u-text-11 {
  font-weight: 400;
  margin: 0;
}

.u-section-11 .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-accordion-item-6 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-6 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-6 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px;
}

.u-section-11 .u-text-13 {
  font-weight: 400;
  margin: 0;
}

.u-section-11 .u-text-14 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-accordion-item-7 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-7 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-7 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-7 {
  padding: 30px;
}

.u-section-11 .u-text-15 {
  font-weight: 400;
  margin: 0;
}

.u-section-11 .u-text-16 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-accordion-item-8 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-11 .u-icon-8 {
  height: 24px;
  width: 24px;
}

.u-section-11 .u-accordion-pane-8 {
  min-height: 587px;
  height: auto;
  background-image: none;
}

.u-section-11 .u-container-layout-8 {
  padding: 30px;
}

.u-section-11 .u-text-17 {
  font-weight: 400;
  margin: 0;
}

.u-section-11 .u-text-18 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 229px;
    margin-right: 229px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 107px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-11 .u-accordion-1 {
    margin-top: 346px;
  }

  .u-section-11 .u-icon-1 {
    padding: 2px;
  }

  .u-section-11 .u-icon-2 {
    padding: 2px;
  }

  .u-section-11 .u-icon-3 {
    padding: 2px;
  }

  .u-section-11 .u-icon-4 {
    padding: 2px;
  }

  .u-section-11 .u-icon-5 {
    padding: 2px;
  }

  .u-section-11 .u-icon-6 {
    padding: 2px;
  }

  .u-section-11 .u-icon-7 {
    padding: 2px;
  }

  .u-section-11 .u-icon-8 {
    padding: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-11 .u-text-1 {
    width: 720px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-11 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-left: 172px;
    margin-right: 172px;
    width: 540px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
    margin-bottom: initial;
  }

  .u-section-11 .u-accordion-1 {
    width: 540px;
    margin-top: 30px;
  }

  .u-section-11 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-11 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-11 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-11 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-left: 108px;
    margin-right: 108px;
    width: 340px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 190px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-accordion-1 {
    width: 340px;
  }
} .u-section-12 {
  background-image: url("../images/Logo-grey-medium.png");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 60px auto 0;
}

.u-section-13 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -53px auto 0 45px;
}

.u-section-13 .u-text-2 {
  width: 800px;
  margin: 3px auto 0;
}

.u-section-13 .u-accordion-1 {
  width: 800px;
  margin: 30px 170px 40px;
}

.u-section-13 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-1 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-1 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-13 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.u-section-13 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-13 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-2 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-2 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  padding: 27px 30px 30px;
}

.u-section-13 .u-text-5 {
  margin: 0;
}

.u-section-13 .u-text-6 {
  line-height: 1.8;
  margin: 30px 0 0;
}

.u-section-13 .u-accordion-item-3 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-3 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-3 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-7 {
  margin: 0 20px 0 0;
}

.u-section-13 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-13 .u-accordion-item-4 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-4 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-4 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px;
}

.u-section-13 .u-text-9 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-13 .u-text-10 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-item-5 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-5 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-5 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-5 {
  padding: 30px;
}

.u-section-13 .u-text-11 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-13 .u-text-12 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-item-6 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-6 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-6 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-6 {
  padding: 30px;
}

.u-section-13 .u-text-13 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-13 .u-text-14 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-item-7 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-7 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-7 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-7 {
  padding: 30px;
}

.u-section-13 .u-text-15 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-13 .u-text-16 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-item-8 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-13 .u-icon-8 {
  height: 24px;
  width: 24px;
}

.u-section-13 .u-accordion-pane-8 {
  min-height: 545px;
  height: auto;
  background-image: none;
}

.u-section-13 .u-container-layout-8 {
  padding: 30px;
}

.u-section-13 .u-text-17 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-13 .u-text-18 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 229px;
    margin-right: 229px;
  }

  .u-section-13 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-13 .u-accordion-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-13 .u-icon-1 {
    padding: 2px;
  }

  .u-section-13 .u-icon-2 {
    padding: 2px;
  }

  .u-section-13 .u-icon-3 {
    padding: 2px;
  }

  .u-section-13 .u-icon-4 {
    padding: 2px;
  }

  .u-section-13 .u-icon-5 {
    padding: 2px;
  }

  .u-section-13 .u-icon-6 {
    padding: 2px;
  }

  .u-section-13 .u-icon-7 {
    padding: 2px;
  }

  .u-section-13 .u-icon-8 {
    padding: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    width: 720px;
  }

  .u-section-13 .u-image-1 {
    margin-top: -37px;
  }

  .u-section-13 .u-text-2 {
    width: 720px;
    margin-top: -13px;
  }

  .u-section-13 .u-accordion-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 52px;
  }

  .u-section-13 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    margin-left: 172px;
    margin-right: 172px;
    width: 540px;
  }

  .u-section-13 .u-image-1 {
    margin-top: -136px;
  }

  .u-section-13 .u-text-2 {
    width: 540px;
    margin-top: 87px;
  }

  .u-section-13 .u-accordion-1 {
    width: 540px;
    margin-bottom: 40px;
  }

  .u-section-13 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-13 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-13 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-13 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-13 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-13 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-13 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    margin-left: 108px;
    margin-right: 108px;
    width: 340px;
  }

  .u-section-13 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
    margin-top: -93px;
  }

  .u-section-13 .u-accordion-1 {
    width: 340px;
    margin-bottom: -9px;
  }
} .u-section-14 {
  background-image: url("../images/Logo-grey-medium.png");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  min-height: 239px;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(255,255,255,1);
  margin: 45px 0 0 195px;
}

.u-section-14 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: -77px auto 0 0;
}

.u-section-14 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: -47px auto 0 195px;
  padding: 8px 38px 8px 37px;
}

.u-section-14 .u-btn-2 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  background-image: none;
  margin: -46px auto 45px 443px;
  padding: 8px 38px 8px 37px;
}

.u-section-14 .u-icon-2 {
  margin-left: 6px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
  }

  .u-section-14 .u-image-1 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-14 .u-btn-1 {
    --radius: 6px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-14 .u-btn-2 {
    transition-duration: 0.5s;
    margin-left: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-14 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-14 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-14 .u-btn-2 {
    margin-top: 20px;
    margin-left: 23px;
    margin-bottom: initial;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-14 .u-btn-2 {
    margin-bottom: 45px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 71px;
  }
}